doctype html
html(lang='en')
  head
    title TaskMeister
    link(rel='stylesheet', href='/static/main.css')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' rel='stylesheet')
  body 
    marquee.webtech This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    div.container
      h1.logo TaskMeister 
    
      block todoapp